@using Microsoft.AspNetCore.Identity;
@using DevExtreme.AspNet.Mvc.Builders;


<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/> 
    <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Task Record</title>
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <!-- CSS files -->
    @* Uncomment to use the HtmlEditor control *@
    @* <script src="https://unpkg.com/devextreme-quill@21_2/dist/dx-quill.min.js"></script> *@
    <link rel="stylesheet" href="~/css/vendor.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/light.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/Site.css" asp-append-version="true"  />
    <script src="~/js/vendor.js" asp-append-version="true"></script>
    <link rel="stylesheet" href="~/dist/css/tabler.min.css" />
    <link rel="stylesheet" href="~/dist/css/tabler-flags.min.css" />
    <link rel="stylesheet" href="~/dist/css/tabler-payments.min.css" />
    <link rel="stylesheet" href="~/dist/css/tabler-vendors.min.css" />
    <link rel="stylesheet" href="~/dist/css/demo.min.css" rel="stylesheet" />
    <!-- Tema claro -->



</head>
<body>
    <div class="page">
        <header class="navbar navbar-expand-md navbar-light d-print-none">
            <div class="container-xl">
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbar-menu">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <h1 class="navbar-brand navbar-brand-autodark d-none-navbar-horizontal pe-0 pe-md-3">

                    <a asp-controller="Inicio" asp-action="Bienvenida" class="dropdown-item">
                        <img src="~/img/LogoAppv3.png" alt="Tabler" class="navbar-brand-image">
                    </a>
                </h1>
                <div class="navbar-nav flex-row order-md-last">
                    <div class="d-none d-md-flex">
                        <a href="?theme=dark" class="nav-link px-0 hide-theme-dark text-info" title="Enable dark mode" data-bs-toggle="tooltip" data-bs-placement="bottom">
                            <!-- Download SVG icon from -->
                            <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-filled" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none" /><path d="M12 3c.132 0 .263 0 .393 0a7.5 7.5 0 0 0 7.92 12.446a9 9 0 1 1 -8.313 -12.454z" /></svg>
                        </a>
                        <a href="?theme=light" class="nav-link px-0 hide-theme-light text-info" title="Enable light mode" data-bs-toggle="tooltip" data-bs-placement="bottom">
                            <!-- Download SVG icon from -->
                            <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-sun-high" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                                <path d="M14.828 14.828a4 4 0 1 0 -5.656 -5.656a4 4 0 0 0 5.656 5.656z"></path>
                                <path d="M6.343 17.657l-1.414 1.414"></path>
                                <path d="M6.343 6.343l-1.414 -1.414"></path>
                                <path d="M17.657 6.343l1.414 -1.414"></path>
                                <path d="M17.657 17.657l1.414 1.414"></path>
                                <path d="M4 12h-2"></path>
                                <path d="M12 4v-2"></path>
                                <path d="M12 20v2"></path>
                            </svg>
                        </a>

                    </div>



                    <div class="nav-item dropdown">
                        <a href="#" class="nav-link d-flex lh-1 text-reset p-0 text-info text-gradient" data-bs-toggle="dropdown" aria-label="Open user menu">

                            @if (User.IsInRole("Lider"))
                            {
                                <span class="avatar text-info">
                                    <!-- Download SVG icon from http://tabler-icons.io/i/user -->
                                    <svg xmlns="http://www.w3.org/2000/svg" class="icon avatar-icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none" /><circle cx="12" cy="7" r="4" /><path d="M6 21v-2a4 4 0 0 1 4 -4h4a4 4 0 0 1 4 4v2" /></svg>
                                </span>
                            }
                            @if (User.IsInRole("Tecnico"))
                            {
                                <span class="avatar text-info">
                                    <!-- Download SVG icon from http://tabler-icons.io/i/user -->
                                    <svg xmlns="http://www.w3.org/2000/svg" class="icon avatar-icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none" /><circle cx="12" cy="7" r="4" /><path d="M6 21v-2a4 4 0 0 1 4 -4h4a4 4 0 0 1 4 4v2" /></svg>
                                </span>
                            }
                            @if (User.IsInRole("Auditor"))
                            {


                                <span class="avatar text-info">
                                    <!-- Download SVG icon from http://tabler-icons.io/i/user -->
                                    <svg xmlns="http://www.w3.org/2000/svg" class="icon avatar-icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none" /><circle cx="12" cy="7" r="4" /><path d="M6 21v-2a4 4 0 0 1 4 -4h4a4 4 0 0 1 4 4v2" /></svg>
                                </span>
                            }
                            <div class="d-none d-xl-block ps-2">
                                <div>@User.Identity.Name</div>
                                <div class="mt-1 small text-muted">@User.FindFirst("NOMBRE_POS").Value</div>
                            </div>
                        </a>

                        <div class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">


                            <a asp-controller="Acceso" asp-action="Logout" class="dropdown-item">
                                       <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-logout text-info" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                        <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                                        <path d="M14 8v-2a2 2 0 0 0 -2 -2h-7a2 2 0 0 0 -2 2v12a2 2 0 0 0 2 2h7a2 2 0 0 0 2 -2v-2"></path>
                                        <path d="M7 12h14l-3 -3m0 6l3 -3"></path>
                                        </svg>
                                <span style="padding: 5px;">
                                        Log Out 
                                </span>

                            </a>

                        </div>

                    </div>
                </div>
            </div>
        </header>
        <div class="navbar-expand-md">
            <div class="collapse navbar-collapse" id="navbar-menu">
                <div class="navbar navbar-light">
                    <div class="container-xl">
                        <ul class="navbar-nav">
                            <li class="nav-item @ViewBag.bienvenida">
                                <a asp-controller="Inicio" asp-action="Bienvenida" class="nav-link">
                                    <span class="nav-link-icon d-md-none d-lg-inline-block">
                                        <!-- Download SVG icon from -->
                                        <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-pulse text-info text-gradient" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none" /><polyline points="5 12 3 12 12 3 21 12 19 12" /><path d="M5 12v7a2 2 0 0 0 2 2h10a2 2 0 0 0 2 -2v-7" /><path d="M9 21v-6a2 2 0 0 1 2 -2h2a2 2 0 0 1 2 2v6" /></svg>
                                    </span>
                                    <span class="nav-link-title">
                                        Inicio
                                    </span>
                                </a>
                            </li>
                            <li class="nav-item @ViewBag.taskrecord">
                                <a asp-controller="TaskRecord" asp-action="Registro" class="nav-link">
                                    <span class="nav-link-icon d-md-none d-lg-inline-block">
                                        <!-- Download SVG icon from -->
                                        <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-pulse text-info text-gradient" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none" /><polyline points="9 11 12 14 20 6" /><path d="M20 12v6a2 2 0 0 1 -2 2h-12a2 2 0 0 1 -2 -2v-12a2 2 0 0 1 2 -2h9" /></svg>
                                    </span>
                                    <span class="nav-link-title">
                                        Registro de Pautas
                                    </span>
                                </a>
                            </li>

                            @if (User.IsInRole("Lider"))
                            {
                                <li class="nav-item dropdown @ViewBag.epm">
                                    <a class="nav-link dropdown-toggle" href="#navbar-base" data-bs-toggle="dropdown" data-bs-auto-close="outside" role="button" aria-expanded="false">
                                        <span class="nav-link-icon d-md-none d-lg-inline-block">
                                            <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-clipboard-check text-info text-gradient" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                                <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                                                <path d="M9 5h-2a2 2 0 0 0 -2 2v12a2 2 0 0 0 2 2h10a2 2 0 0 0 2 -2v-12a2 2 0 0 0 -2 -2h-2"></path>
                                                <rect x="9" y="3" width="6" height="4" rx="2"></rect>
                                                <path d="M9 14l2 2l4 -4"></path>
                                            </svg>
                                        </span>
                                        <span class="nav-link-title">
                                            Administraci&oacute;n de Pautas
                                        </span>
                                    </a>
                                    <div class="dropdown-menu">
                                        <div class="dropdown-menu-columns">
                                            <div class="dropdown-menu-column">

                                                <a asp-controller="EstructuraPM" asp-action="PM" class="dropdown-item @ViewBag.pm">
                                                    <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-chart-bar" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                                        <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                                                        <path d="M3 12m0 1a1 1 0 0 1 1 -1h4a1 1 0 0 1 1 1v6a1 1 0 0 1 -1 1h-4a1 1 0 0 1 -1 -1z"></path>
                                                        <path d="M9 8m0 1a1 1 0 0 1 1 -1h4a1 1 0 0 1 1 1v10a1 1 0 0 1 -1 1h-4a1 1 0 0 1 -1 -1z"></path>
                                                        <path d="M15 4m0 1a1 1 0 0 1 1 -1h4a1 1 0 0 1 1 1v14a1 1 0 0 1 -1 1h-4a1 1 0 0 1 -1 -1z"></path>
                                                        <path d="M4 20l14 0"></path>
                                                    </svg> 

                                                     <span style="padding: 5px;">
                                                        Pauta de Mantenimiento (PM)  
                                                    </span>
                                                </a>
                                                <a asp-controller="EstructuraPM" asp-action="Sistema" class="dropdown-item @ViewBag.sistema">
                                                    <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-device-floppy" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                                        <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                                                        <path d="M6 4h10l4 4v10a2 2 0 0 1 -2 2h-12a2 2 0 0 1 -2 -2v-12a2 2 0 0 1 2 -2"></path>
                                                        <path d="M12 14m-2 0a2 2 0 1 0 4 0a2 2 0 1 0 -4 0"></path>
                                                        <path d="M14 4l0 4l-6 0l0 -4"></path>
                                                    </svg>
                                                    <span style="padding: 5px;">
                                                        Sistema
                                                    </span>
                                                </a>
                                                <a asp-controller="EstructuraPM" asp-action="Actividad" class="dropdown-item @ViewBag.actividad">
                                                    <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-file-chart" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                                        <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                                                        <path d="M14 3v4a1 1 0 0 0 1 1h4"></path>
                                                        <path d="M17 21h-10a2 2 0 0 1 -2 -2v-14a2 2 0 0 1 2 -2h7l5 5v11a2 2 0 0 1 -2 2z"></path>
                                                        <path d="M12 10v4h4"></path>
                                                        <path d="M12 14m-4 0a4 4 0 1 0 8 0a4 4 0 1 0 -8 0"></path>
                                                    </svg>
                                                      <span style="padding: 5px;">
                                                        Actividad
                                                    </span>
                                                </a>
                                                <a asp-controller="EstructuraPM" asp-action="PMSistema" class="dropdown-item @ViewBag.pmsistema">
                                                    Sistema >> Pauta
                                                </a>
                                                <a asp-controller="EstructuraPM" asp-action="PMSistemaActividad" class="dropdown-item @ViewBag.pmsistemaactividad">
                                                    Actividad >> Sistema >> Pauta
                                                </a>
                                                <div class="dropdown-divider"></div>
                                                <a asp-controller="EstructuraPM" asp-action="Reporte" class="dropdown-item @ViewBag.reporte">
                                                    Gestion de Pautas
                                                </a>
                   
                                            </div>
                                        </div>
                                    </div>
                                </li>


                                <li class="nav-item dropdown @ViewBag.mantenimiento">
                                    <a class="nav-link dropdown-toggle" href="#navbar-base" data-bs-toggle="dropdown" data-bs-auto-close="outside" role="button" aria-expanded="false">
                                        <span class="nav-link-icon d-md-none d-lg-inline-block">
                                            <!-- Download SVG icon from -->
                                            <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-settings icon-pulse text-info text-gradient" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                                <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                                                <path d="M10.325 4.317c.426 -1.756 2.924 -1.756 3.35 0a1.724 1.724 0 0 0 2.573 1.066c1.543 -.94 3.31 .826 2.37 2.37a1.724 1.724 0 0 0 1.065 2.572c1.756 .426 1.756 2.924 0 3.35a1.724 1.724 0 0 0 -1.066 2.573c.94 1.543 -.826 3.31 -2.37 2.37a1.724 1.724 0 0 0 -2.572 1.065c-.426 1.756 -2.924 1.756 -3.35 0a1.724 1.724 0 0 0 -2.573 -1.066c-1.543 .94 -3.31 -.826 -2.37 -2.37a1.724 1.724 0 0 0 -1.065 -2.572c-1.756 -.426 -1.756 -2.924 0 -3.35a1.724 1.724 0 0 0 1.066 -2.573c-.94 -1.543 .826 -3.31 2.37 -2.37c1 .608 2.296 .07 2.572 -1.065z"></path>
                                                <circle cx="12" cy="12" r="3"></circle>
                                            </svg>
                                        </span>
                                        <span class="nav-link-title">
                                            Configuraci&oacute;n
                                        </span>
                                    </a>
                                    <div class="dropdown-menu">
                                        <div class="dropdown-menu-columns">
                                            <div class="dropdown-menu-column">
                                                <a asp-controller="Mantenimiento" asp-action="Area" class="dropdown-item @ViewBag.area">
                                                    <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-building-community" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                                        <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                                                        <path d="M8 9l5 5v7h-5v-4m0 4h-5v-7l5 -5m1 1v-6a1 1 0 0 1 1 -1h10a1 1 0 0 1 1 1v17h-8"></path>
                                                        <path d="M13 7l0 .01"></path>
                                                        <path d="M17 7l0 .01"></path>
                                                        <path d="M17 11l0 .01"></path>
                                                        <path d="M17 15l0 .01"></path>
                                                    </svg>
                                                    <span style="padding: 5px;">
                                                        Area
                                                    </span>
                                                </a>
                                                <a asp-controller="Mantenimiento" asp-action="Consecuencia" class="dropdown-item @ViewBag.consecuencia">
                                                    <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-bandage" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                                        <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                                                        <path d="M14 12l0 .01"></path>
                                                        <path d="M10 12l0 .01"></path>
                                                        <path d="M12 10l0 .01"></path>
                                                        <path d="M12 14l0 .01"></path>
                                                        <path d="M4.5 12.5l8 -8a4.94 4.94 0 0 1 7 7l-8 8a4.94 4.94 0 0 1 -7 -7"></path>
                                                    </svg>
                                                    <span style="padding: 5px;">
                                                        Consecuencia
                                                    </span>
                                                </a>
                                                <a asp-controller="Mantenimiento" asp-action="ClaseMantencion" class="dropdown-item @ViewBag.clasemantencion">
                                                    <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-chalkboard" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                                        <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                                                        <path d="M8 19h-3a2 2 0 0 1 -2 -2v-10a2 2 0 0 1 2 -2h14a2 2 0 0 1 2 2v11a1 1 0 0 1 -1 1"></path>
                                                        <path d="M11 16m0 1a1 1 0 0 1 1 -1h4a1 1 0 0 1 1 1v1a1 1 0 0 1 -1 1h-4a1 1 0 0 1 -1 -1z"></path>
                                                    </svg>
                                                    <span style="padding: 5px;">
                                                        Clase mantenci&oacute;n
                                                    </span>
                                                </a>
                                                <a asp-controller="Mantenimiento" asp-action="Disciplina" class="dropdown-item @ViewBag.disciplina">
                                                    <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-school" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                                        <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                                                        <path d="M22 9l-10 -4l-10 4l10 4l10 -4v6"></path>
                                                        <path d="M6 10.6v5.4a6 3 0 0 0 12 0v-5.4"></path>
                                                    </svg>
                                                    <span style="padding: 5px;">
                                                        Disciplina
                                                    </span>
                                                </a>
                                              <a asp-controller="Mantenimiento" asp-action="Entrega" class="dropdown-item @ViewBag.entrega">
                                                    <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-mail-forward" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                                        <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                                                        <path d="M12 18h-7a2 2 0 0 1 -2 -2v-10a2 2 0 0 1 2 -2h14a2 2 0 0 1 2 2v7.5"></path>
                                                        <path d="M3 6l9 6l9 -6"></path>
                                                        <path d="M15 18h6"></path>
                                                        <path d="M18 15l3 3l-3 3"></path>
                                                    </svg>
                                                    <span style="padding: 5px;">
                                                        Entrega
                                                    </span>
                                                </a>
                                                <a asp-controller="Mantenimiento" asp-action="Flota" class="dropdown-item @ViewBag.flota">
                                                    <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-tractor" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                                        <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                                                        <path d="M7 15m-4 0a4 4 0 1 0 8 0a4 4 0 1 0 -8 0"></path>
                                                        <path d="M7 15l0 .01"></path>
                                                        <path d="M19 17m-2 0a2 2 0 1 0 4 0a2 2 0 1 0 -4 0"></path>
                                                        <path d="M10.5 17l6.5 0"></path>
                                                        <path d="M20 15.2v-4.2a1 1 0 0 0 -1 -1h-6l-2 -5h-6v6.5"></path>
                                                        <path d="M18 5h-1a1 1 0 0 0 -1 1v4"></path>
                                                    </svg>
                                                    <span style="padding: 5px;">
                                                        Flota
                                                    </span>
                                                </a>
                                                <a asp-controller="Mantenimiento" asp-action="Frecuencia" class="dropdown-item @ViewBag.frecuencia">
                                                    <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-wave-saw-tool" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                                        <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                                                        <path d="M3 12h5l4 8v-16l4 8h5"></path>
                                                    </svg>
                                                    <span style="padding: 5px;">
                                                        Frecuencia
                                                    </span>
                                                </a>

                                            </div>
                                            @if (User.IsInRole("Lider"))
                                            {
                                                <div class="dropdown-menu-column">

                                                    <a asp-controller="Mantenimiento" asp-action="Nivel" class="dropdown-item @ViewBag.nivel">
                                                        <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-stack-pop" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                                            <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                                                            <path d="M7 9.5l-3 1.5l8 4l8 -4l-3 -1.5"></path>
                                                            <path d="M4 15l8 4l8 -4"></path>
                                                            <path d="M12 11v-7"></path>
                                                            <path d="M9 7l3 -3l3 3"></path>
                                                        </svg>
                                                         <span style="padding: 5px;">
                                                            Nivel
                                                        </span>
                                                    </a>
                                                    <a asp-controller="Mantenimiento" asp-action="TipoEquipo" class="dropdown-item @ViewBag.tipoeequipo">
                                                        <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-brand-asana" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                                            <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                                                            <path d="M12 7m-3 0a3 3 0 1 0 6 0a3 3 0 1 0 -6 0"></path>
                                                            <path d="M17 16m-3 0a3 3 0 1 0 6 0a3 3 0 1 0 -6 0"></path>
                                                            <path d="M7 16m-3 0a3 3 0 1 0 6 0a3 3 0 1 0 -6 0"></path>
                                                        </svg>
                                                         <span style="padding: 5px;">
                                                            Tipo Equipo
                                                        </span>
                                                    </a>
                                                    <a asp-controller="Mantenimiento" asp-action="Unidad" class="dropdown-item @ViewBag.unidad">
                                                        <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-triangle-inverted" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                                            <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                                                            <path d="M10.24 20.043l-8.422 -14.06a1.989 1.989 0 0 1 1.7 -2.983h16.845a1.989 1.989 0 0 1 1.7 2.983l-8.422 14.06a1.989 1.989 0 0 1 -3.4 0z"></path>
                                                        </svg>
                                                        <span style="padding: 5px;">
                                                            Unidad
                                                        </span>
                                                    </a>
                                                    <a asp-controller="Mantenimiento" asp-action="UnidadMedida" class="dropdown-item @ViewBag.unidadmedida">
                                                        <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-hourglass" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                                            <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                                                            <path d="M6.5 7h11"></path>
                                                            <path d="M6.5 17h11"></path>
                                                            <path d="M6 20v-2a6 6 0 1 1 12 0v2a1 1 0 0 1 -1 1h-10a1 1 0 0 1 -1 -1z"></path>
                                                            <path d="M6 4v2a6 6 0 1 0 12 0v-2a1 1 0 0 0 -1 -1h-10a1 1 0 0 0 -1 1z"></path>
                                                        </svg>
                                                         <span style="padding: 5px;">
                                                            Unidad de Medida
                                                        </span>
                                                    </a>
                                                    <a asp-controller="Mantenimiento" asp-action="Usuario" class="dropdown-item @ViewBag.usuario">
                                                        <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-user-circle" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                                            <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                                                            <path d="M12 12m-9 0a9 9 0 1 0 18 0a9 9 0 1 0 -18 0"></path>
                                                            <path d="M12 10m-3 0a3 3 0 1 0 6 0a3 3 0 1 0 -6 0"></path>
                                                            <path d="M6.168 18.849a4 4 0 0 1 3.832 -2.849h4a4 4 0 0 1 3.834 2.855"></path>
                                                        </svg>
                                                        <span style="padding: 5px;">
                                                           Usuario
                                                        </span>
                                                    </a>
                                                </div>
                                            }
                                        </div>
                                    </div>
                                </li>
                            }

                        </ul>
                        <div class="my-2 my-md-0 flex-grow-1 flex-md-grow-0 order-first order-md-last">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="page-wrapper">
            <div class="container-xl">
                <div class="page-header d-print-none">
                    <div class="row g-2 align-items-center">
                        <div class="col">
                            @RenderSection("PagePreTitle",false)
                        </div>
                        <div class="col-12 col-md-auto ms-auto d-print-none">
                            <div class="btn-list">
                                @RenderSection("PageActions",false)
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="page-body">
                <div class="container-xl">
                    <main role="main" class="container">

                        @RenderBody()
                    </main>
                </div>
            </div>
            <footer class="footer footer-transparent d-print-none">
                <div class="container-xl">
                    <div class="row text-center align-items-center flex-row-reverse">
                        <div class="col-lg-auto ms-lg-auto">
                            <ul class="list-inline list-inline-dots mb-0">
                                <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-file-dots text-info text-gradient" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                    <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                                    <path d="M14 3v4a1 1 0 0 0 1 1h4"></path>
                                    <path d="M17 21h-10a2 2 0 0 1 -2 -2v-14a2 2 0 0 1 2 -2h7l5 5v11a2 2 0 0 1 -2 2z"></path>
                                    <path d="M9 14v.01"></path>
                                    <path d="M12 14v.01"></path>
                                    <path d="M15 14v.01"></path>
                                </svg>
                                <li class="list-inline-item"><a href="~/pdf/Manual TaskRecords.pdf" class="text-info text-gradient">Ayuda</a></li>

                                <li class="list-inline-item">
                                    <a asp-controller="Acceso" asp-action="Logout">
                                        <!-- Download SVG icon from -->
                                      <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-logout text-info" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                        <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                                        <path d="M14 8v-2a2 2 0 0 0 -2 -2h-7a2 2 0 0 0 -2 2v12a2 2 0 0 0 2 2h7a2 2 0 0 0 2 -2v-2"></path>
                                        <path d="M7 12h14l-3 -3m0 6l3 -3"></path>
                                        </svg>
                                        <span class="text-info">
                                            Logout
                                        </span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <div class="col-12 col-lg-auto mt-3 mt-lg-0">
                            <ul class="list-inline list-inline-dots mb-0">
                                <li class="list-inline-item">
                                    Copyright &copy; 2022
                                    <a href="https://gointegreat.com" class="link-secondary text-info">Gointegreat</a>.
                                    Todos los derechos reservados.
                                </li>

                            </ul>
                        </div>
                    </div>
                </div>
            </footer>
        </div>
    </div>

    @RenderSection("PageModals",false)


    <!-- Libs JS -->
    <!-- Tabler Core -->
    <script src="~/dist/js/tabler.min.js" defer></script>
    <script src="~/dist/js/demo.min.js" defer></script>
    <script src="~/js/GrupoLider.js" defer></script>

    <script type="text/javascript">
        document.querySelector(".icon-filled").addEventListener("click", function () {
            document.body.classList.remove("?light-theme");
            document.body.classList.add("?dark-theme");
        });

        document.querySelector(".icon-tabler-sun-high").addEventListener("click", function () {
            document.body.classList.remove("?dark-theme");
            document.body.classList.add("?light-theme");
        });
    </script>


    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>