@using Microsoft.AspNetCore.Identity;
@using DevExtreme.AspNet.Mvc.Builders;


<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/> 
    <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Task Record</title>
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <!-- CSS files -->
    @* Uncomment to use the HtmlEditor control *@
    @* <script src="https://unpkg.com/devextreme-quill@21_2/dist/dx-quill.min.js"></script> *@
    <link rel="stylesheet" href="~/css/vendor.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/Site.css" asp-append-version="true"  />
    <script src="~/js/vendor.js" asp-append-version="true"></script>
    <link rel="stylesheet" href="~/dist/css/tabler.min.css" />
    <link rel="stylesheet" href="~/dist/css/tabler-flags.min.css" />
    <link rel="stylesheet" href="~/dist/css/tabler-payments.min.css" />
    <link rel="stylesheet" href="~/dist/css/tabler-vendors.min.css" />
    <link rel="stylesheet" href="~/dist/css/demo.min.css" rel="stylesheet" />

</head>
<body>
    <div class="page">
        <header class="navbar navbar-expand-md navbar-light d-print-none">
            <div class="container-xl">
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbar-menu">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <h1 class="navbar-brand navbar-brand-autodark d-none-navbar-horizontal pe-0 pe-md-3">

                    <a asp-controller="Inicio" asp-action="Bienvenida" class="dropdown-item">
                        <img src="~/img/GOPAUTAS.png" alt="Tabler" class="navbar-brand-image">
                    </a>
                </h1>
                <div class="navbar-nav flex-row order-md-last">
                    <div class="d-none d-md-flex">
                        <a href="?theme=dark" class="nav-link px-0 hide-theme-dark text-info" title="Enable dark mode" data-bs-toggle="tooltip" data-bs-placement="bottom">
                            <!-- Download SVG icon from -->
                            <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-filled" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none" /><path d="M12 3c.132 0 .263 0 .393 0a7.5 7.5 0 0 0 7.92 12.446a9 9 0 1 1 -8.313 -12.454z" /></svg>
                        </a>
                        <a href="?theme=light" class="nav-link px-0 hide-theme-light text-info" title="Enable light mode" data-bs-toggle="tooltip" data-bs-placement="bottom">
                            <!-- Download SVG icon from -->
                            <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-sun-high" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                                <path d="M14.828 14.828a4 4 0 1 0 -5.656 -5.656a4 4 0 0 0 5.656 5.656z"></path>
                                <path d="M6.343 17.657l-1.414 1.414"></path>
                                <path d="M6.343 6.343l-1.414 -1.414"></path>
                                <path d="M17.657 6.343l1.414 -1.414"></path>
                                <path d="M17.657 17.657l1.414 1.414"></path>
                                <path d="M4 12h-2"></path>
                                <path d="M12 4v-2"></path>
                                <path d="M12 20v2"></path>
                            </svg>
                        </a>

                    </div>



                    <div class="nav-item dropdown">
                        <a href="#" class="nav-link d-flex lh-1 text-reset p-0 text-info text-gradient" data-bs-toggle="dropdown" aria-label="Open user menu">

                            @if (User.IsInRole("Lider"))
                            {
                                <span class="avatar text-info">
                                    <!-- Download SVG icon from http://tabler-icons.io/i/user -->
                                    <svg xmlns="http://www.w3.org/2000/svg" class="icon avatar-icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none" /><circle cx="12" cy="7" r="4" /><path d="M6 21v-2a4 4 0 0 1 4 -4h4a4 4 0 0 1 4 4v2" /></svg>
                                </span>
                            }
                            @if (User.IsInRole("Tecnico"))
                            {
                                <span class="avatar text-info">
                                    <!-- Download SVG icon from http://tabler-icons.io/i/user -->
                                    <svg xmlns="http://www.w3.org/2000/svg" class="icon avatar-icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none" /><circle cx="12" cy="7" r="4" /><path d="M6 21v-2a4 4 0 0 1 4 -4h4a4 4 0 0 1 4 4v2" /></svg>
                                </span>
                            }
                            @if (User.IsInRole("Auditor"))
                            {


                                <span class="avatar text-info">
                                    <!-- Download SVG icon from http://tabler-icons.io/i/user -->
                                    <svg xmlns="http://www.w3.org/2000/svg" class="icon avatar-icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none" /><circle cx="12" cy="7" r="4" /><path d="M6 21v-2a4 4 0 0 1 4 -4h4a4 4 0 0 1 4 4v2" /></svg>
                                </span>
                            }
                            <div class="d-none d-xl-block ps-2">
                                <div>@User.Identity.Name</div>
                                <div class="mt-1 small text-muted">@User.FindFirst("NOMBRE_POS").Value</div>
                            </div>
                        </a>

                        <div class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">


                            <a asp-controller="Acceso" asp-action="Logout" class="dropdown-item">
                                <span class="nav-link-title text-info text-gradient">
                                    Logout
                                </span>

                            </a>

                        </div>

                    </div>
                </div>
            </div>
        </header>
        <div class="navbar-expand-md">
            <div class="collapse navbar-collapse" id="navbar-menu">
                <div class="navbar navbar-light">
                    <div class="container-xl">
                        <ul class="navbar-nav">
                            <li class="nav-item @ViewBag.bienvenida">
                                <a asp-controller="Inicio" asp-action="Bienvenida" class="nav-link">
                                    <span class="nav-link-icon d-md-none d-lg-inline-block">
                                        <!-- Download SVG icon from -->
                                        <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-pulse text-info text-gradient" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none" /><polyline points="5 12 3 12 12 3 21 12 19 12" /><path d="M5 12v7a2 2 0 0 0 2 2h10a2 2 0 0 0 2 -2v-7" /><path d="M9 21v-6a2 2 0 0 1 2 -2h2a2 2 0 0 1 2 2v6" /></svg>
                                    </span>
                                    <span class="nav-link-title">
                                        Inicio
                                    </span>
                                </a>
                            </li>
                            <li class="nav-item @ViewBag.taskrecord">
                                <a asp-controller="TaskRecord" asp-action="Registro" class="nav-link">
                                    <span class="nav-link-icon d-md-none d-lg-inline-block">
                                        <!-- Download SVG icon from -->
                                        <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-pulse text-info text-gradient" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none" /><polyline points="9 11 12 14 20 6" /><path d="M20 12v6a2 2 0 0 1 -2 2h-12a2 2 0 0 1 -2 -2v-12a2 2 0 0 1 2 -2h9" /></svg>
                                    </span>
                                    <span class="nav-link-title">
                                        Registro de Pautas
                                    </span>
                                </a>
                            </li>

                            @if (User.IsInRole("Lider"))
                            {
                                <li class="nav-item dropdown @ViewBag.epm">
                                    <a class="nav-link dropdown-toggle" href="#navbar-base" data-bs-toggle="dropdown" data-bs-auto-close="outside" role="button" aria-expanded="false">
                                        <span class="nav-link-icon d-md-none d-lg-inline-block">
                                            <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-clipboard-check text-info text-gradient" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                                <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                                                <path d="M9 5h-2a2 2 0 0 0 -2 2v12a2 2 0 0 0 2 2h10a2 2 0 0 0 2 -2v-12a2 2 0 0 0 -2 -2h-2"></path>
                                                <rect x="9" y="3" width="6" height="4" rx="2"></rect>
                                                <path d="M9 14l2 2l4 -4"></path>
                                            </svg>
                                        </span>
                                        <span class="nav-link-title">
                                            Administraci&oacute;n de Pautas
                                        </span>
                                    </a>
                                    <div class="dropdown-menu">
                                        <div class="dropdown-menu-columns">
                                            <div class="dropdown-menu-column">

                                                <a asp-controller="EstructuraPM" asp-action="PM" class="dropdown-item @ViewBag.pm">
                                                    Pauta de Mantenimiento (PM)
                                                </a>
                                                <a asp-controller="EstructuraPM" asp-action="Sistema" class="dropdown-item @ViewBag.sistema">
                                                    Sistema
                                                </a>
                                                <a asp-controller="EstructuraPM" asp-action="Actividad" class="dropdown-item @ViewBag.actividad">
                                                    Actividad
                                                </a>
                                                <a asp-controller="EstructuraPM" asp-action="PMSistema" class="dropdown-item @ViewBag.pmsistema">
                                                    Sistema >> Pauta
                                                </a>
                                                <a asp-controller="EstructuraPM" asp-action="PMSistemaActividad" class="dropdown-item @ViewBag.pmsistemaactividad">
                                                    Actividad >> Sistema >> Pauta
                                                </a>
                                                <div class="dropdown-divider"></div>
                                                <a asp-controller="EstructuraPM" asp-action="Reporte" class="dropdown-item @ViewBag.reporte">
                                                    Gestion de Pautas
                                                </a>


                                            </div>
                                        </div>
                                    </div>
                                </li>


                                <li class="nav-item dropdown @ViewBag.mantenimiento">
                                    <a class="nav-link dropdown-toggle" href="#navbar-base" data-bs-toggle="dropdown" data-bs-auto-close="outside" role="button" aria-expanded="false">
                                        <span class="nav-link-icon d-md-none d-lg-inline-block">
                                            <!-- Download SVG icon from -->
                                            <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-settings icon-pulse text-info text-gradient" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                                <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                                                <path d="M10.325 4.317c.426 -1.756 2.924 -1.756 3.35 0a1.724 1.724 0 0 0 2.573 1.066c1.543 -.94 3.31 .826 2.37 2.37a1.724 1.724 0 0 0 1.065 2.572c1.756 .426 1.756 2.924 0 3.35a1.724 1.724 0 0 0 -1.066 2.573c.94 1.543 -.826 3.31 -2.37 2.37a1.724 1.724 0 0 0 -2.572 1.065c-.426 1.756 -2.924 1.756 -3.35 0a1.724 1.724 0 0 0 -2.573 -1.066c-1.543 .94 -3.31 -.826 -2.37 -2.37a1.724 1.724 0 0 0 -1.065 -2.572c-1.756 -.426 -1.756 -2.924 0 -3.35a1.724 1.724 0 0 0 1.066 -2.573c-.94 -1.543 .826 -3.31 2.37 -2.37c1 .608 2.296 .07 2.572 -1.065z"></path>
                                                <circle cx="12" cy="12" r="3"></circle>
                                            </svg>
                                        </span>
                                        <span class="nav-link-title">
                                            Configuraci&oacute;n
                                        </span>
                                    </a>
                                    <div class="dropdown-menu">
                                        <div class="dropdown-menu-columns">
                                            <div class="dropdown-menu-column">
                                                <a asp-controller="Mantenimiento" asp-action="Area" class="dropdown-item @ViewBag.area">
                                                    Areas
                                                </a>
                                                <a asp-controller="Mantenimiento" asp-action="ClaseMantencion" class="dropdown-item @ViewBag.clasemantencion">
                                                    Clase mantenci&oacute;n
                                                </a>
                                                <a asp-controller="Mantenimiento" asp-action="Complemento" class="dropdown-item @ViewBag.complemento">
                                                    Complemento
                                                </a>
                                                <a asp-controller="Mantenimiento" asp-action="Componente" class="dropdown-item @ViewBag.componente">
                                                    Componente
                                                </a>
                                                <a asp-controller="Mantenimiento" asp-action="Condicion" class="dropdown-item @ViewBag.condicion">
                                                    Condici&oacute;n
                                                </a>
                                                <a asp-controller="Mantenimiento" asp-action="Consecuencia" class="dropdown-item @ViewBag.consecuencia">
                                                    Consecuencia
                                                </a>
                                                <a asp-controller="Mantenimiento" asp-action="Disciplina" class="dropdown-item @ViewBag.disciplina">
                                                    Disciplinas
                                                </a>
                                                <a asp-controller="Mantenimiento" asp-action="Equipo" class="dropdown-item @ViewBag.equipo">
                                                    Equipos
                                                </a>

                                                <a asp-controller="Mantenimiento" asp-action="Entrega" class="dropdown-item @ViewBag.entrega">
                                                    Entregas
                                                </a>
                                                <a asp-controller="Mantenimiento" asp-action="Flota" class="dropdown-item @ViewBag.flota">
                                                    Flotas
                                                </a>
                                                <a asp-controller="Mantenimiento" asp-action="Frecuencia" class="dropdown-item @ViewBag.frecuencia">
                                                    Frecuencia
                                                </a>
                                                <a asp-controller="Mantenimiento" asp-action="Herramienta" class="dropdown-item @ViewBag.herramienta">
                                                    Herramientas
                                                </a>
                                            </div>
                                            @if (User.IsInRole("Lider"))
                                            {
                                                <div class="dropdown-menu-column">

                                                    <a asp-controller="Mantenimiento" asp-action="Nivel" class="dropdown-item @ViewBag.nivel">
                                                        Niveles
                                                    </a>
                                                    <a asp-controller="Mantenimiento" asp-action="Rango" class="dropdown-item @ViewBag.rango">
                                                        Rango
                                                    </a>
                                                    <a asp-controller="Mantenimiento" asp-action="Repuesto" class="dropdown-item @ViewBag.repuesto">
                                                        Repuestos
                                                    </a>
                                                    <a asp-controller="Mantenimiento" asp-action="Posicion" class="dropdown-item @ViewBag.posicion">
                                                        Posiciones
                                                    </a>
                                                    <a asp-controller="Mantenimiento" asp-action="Sector" class="dropdown-item @ViewBag.sector">
                                                        Sector
                                                    </a>

                                                    <a asp-controller="Mantenimiento" asp-action="TipoEquipo" class="dropdown-item @ViewBag.tipoeequipo">
                                                        Tipo Equipos
                                                    </a>
                                                    <a asp-controller="Mantenimiento" asp-action="Unidad" class="dropdown-item @ViewBag.unidad">
                                                        Unidad
                                                    </a>
                                                    <a asp-controller="Mantenimiento" asp-action="Tarea" class="dropdown-item @ViewBag.tarea">
                                                        Tarea
                                                    </a>
                                                    <a asp-controller="Mantenimiento" asp-action="UnidadMedida" class="dropdown-item @ViewBag.unidadmedida">
                                                        Unidad de Medida
                                                    </a>
                                                    <a asp-controller="Mantenimiento" asp-action="Usuario" class="dropdown-item @ViewBag.usuario">
                                                        Usuarios
                                                    </a>
                                                </div>
                                            }
                                        </div>
                                    </div>
                                </li>
                            }

                        </ul>
                        <div class="my-2 my-md-0 flex-grow-1 flex-md-grow-0 order-first order-md-last">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="page-wrapper">
            <div class="container-xl">
                <div class="page-header d-print-none">
                    <div class="row g-2 align-items-center">
                        <div class="col">
                            @RenderSection("PagePreTitle",false)
                        </div>
                        <div class="col-12 col-md-auto ms-auto d-print-none">
                            <div class="btn-list">
                                @RenderSection("PageActions",false)
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="page-body">
                <div class="container-xl">
                    <main role="main" class="container">

                        @RenderBody()
                    </main>
                </div>
            </div>
            <footer class="footer footer-transparent d-print-none">
                <div class="container-xl">
                    <div class="row text-center align-items-center flex-row-reverse">
                        <div class="col-lg-auto ms-lg-auto">
                            <ul class="list-inline list-inline-dots mb-0">
                                <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-file-dots text-info text-gradient" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                    <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                                    <path d="M14 3v4a1 1 0 0 0 1 1h4"></path>
                                    <path d="M17 21h-10a2 2 0 0 1 -2 -2v-14a2 2 0 0 1 2 -2h7l5 5v11a2 2 0 0 1 -2 2z"></path>
                                    <path d="M9 14v.01"></path>
                                    <path d="M12 14v.01"></path>
                                    <path d="M15 14v.01"></path>
                                </svg>
                                <li class="list-inline-item"><a href="~/pdf/Manual TaskRecords.pdf" class="text-info text-gradient">Ayuda</a></li>

                                <li class="list-inline-item">
                                    <a asp-controller="Acceso" asp-action="Logout">
                                        <!-- Download SVG icon from -->
                                        <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-transfer-out text-info text-gradient" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                            <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                                            <path d="M4 19v2h16v-14l-8 -4l-8 4v2"></path>
                                            <path d="M4 19v2h16v-14l-8 -4l-8 4v2"></path>
                                            <path d="M13 14h-9"></path>
                                            <path d="M7 11l-3 3l3 3"></path>
                                        </svg>
                                        <span class="text-info">
                                            Logout
                                        </span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <div class="col-12 col-lg-auto mt-3 mt-lg-0">
                            <ul class="list-inline list-inline-dots mb-0">
                                <li class="list-inline-item">
                                    Copyright &copy; 2022
                                    <a href="https://gointegreat.com" class="link-secondary text-info">Gointegreat</a>.
                                    Todos los derechos reservados.
                                </li>

                            </ul>
                        </div>
                    </div>
                </div>
            </footer>
        </div>
    </div>

    @RenderSection("PageModals",false)


    <!-- Libs JS -->
    <!-- Tabler Core -->
    <script src="~/dist/js/tabler.min.js" defer></script>
    <script src="~/dist/js/demo.min.js" defer></script>
    <script src="~/js/GrupoLider.js" defer></script>


    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>